.abdulcard{
background-color: black;
    width:300px;
    border-radius: 15px;
    padding:2px;
    height: 650px;
    text-align: left;
    margin: 20px;
    color: white;
}
.kalamcard{
    background-color: white;
    width:100px;
    padding:1px;
    text-align: center;
    color: black;
    margin: 20px;
    height:200px;
border-radius: 10px;
}
.button{
    text-color:white;
}
.body{
    text-align: center;
}
.imageabdul{
    border-radius: 10px;
}
.depcard{
    background-color: black;
    width: 300px;
    height: 100;
    margin: 20px;
    color: white;
    text-align: center;
    padding: 2px;
}